

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img style="height: 60px;" src="https://img.freepik.com/premium-vector/het-luxe-bedrijfslogo_139869-16.jpg" alt="">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">О САЙТЕ</a></li>
        <li><a href="#services">СЕРВИС</a></li>
        <li><a href="#portfolio">ПРОДУКЦИЯ</a></li>
        <li><a href="#pricing">АКЦИИ</a></li>
        <li><a href="#contact">ДОБАВИТЬ</a></li>
      </ul>
    </div>
  </div>
</nav>